// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-purple: #eed2f7;
$electric-purple: #CE45FF;
$dark-purple: #9B06D1;
$light-orange: #FAC59F;
$coral: #F69E96;
$deep-orange: #FF7560;
$light-green: #A9E7C0;
$dark-green: #06A31B;
$light-yellow: #F4EB82;
$deep-yellow: #F2C53B;
$light-pink: #FEB9E7;
$deep-pink: #F087CC;
$light-blue: #ABD6E9;
$deep-blue: #66BFE6;
$gray: #EEF0F4;
$dark-gray: #333333;
$dark-black: #030002;
$light-red: #fb5254;
$cream: #fdfcf8
