<% if current_user && current_user.team.chatroom.present? %>
  <div class="sticky-button">
    <%= link_to chatroom_path(current_user.team.chatroom), class: "btn btn-chat btn-blue" do %>
      <i class="fs-2 fa-regular fa-comments"></i>
    <% end %>
  </div>
<% end %>
