<h1>Reward Details</h1>
<p><strong>Name:</strong> <%= @reward.name %></p>
<p><strong>Goal:</strong> <%= @reward.goal %></p>
<%= link_to 'Edit', edit_team_reward_path(@team, @reward) %>
<%= link_to 'Back', team_rewards_path(@team) %>
