<div class="container">
  <div class="score">
    <% @team.users.each do |user|%>
      <% user.tasks.each do |task| %>
        <% if task.achieved %>
          <% @team.score += task.points %>
        <% end %>
      <% end %>
    <% end %>
    <p>Team score : <%= @team.score %></p>
  </div>

  <div class="reste">
    <p>Il reste <%= @reward.goal - @team.score %> points avant la récompense</p>
  </div>
</div>
