<% if notice %>
  <div class="notice-container d-flex">
    <div class="alert alert-info alert-dismissible win-notif fade show m-1" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <audio src=".mp3"></audio>
      <div class="notif-img">
        <%= image_tag ("anxious-octopus.png"), width: 50 %>
      </div>
      <div>
        <%= notice %>
      </div>
      <br>
      <div class="link">
        <%= link_to "Les récompenses", team_rewards_path(@team)%>
      </div>
    </div>
  </div>
<% end %>
