<div class="container">
  <div class="row">
    <div class="col">

      <h1>Titre niveau 1</h1>

      <h2>Titre niveau 2</h2>

      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, dignissimos accusamus, facilis, numquam minima recusandae est commodi sunt voluptatum et neque deserunt placeat sed. Facere vitae enim expedita deserunt possimus.</p>

      <h2>Cards</h2>

      <h3>Card progression</h3>

      <div class="progression">
        <div class="card">

          <img src="" alt="">

        </div>

      </div>

      <h3>Card task</h3>

      <div class="cards-list">
        <div class="card card-task card-health">
          <div class="card-content">
            <h3>Prendre rdv chez le pédiatre</h3>
            <p>Dr Dupond, 5 Canebière, 13001 Marseille
              06 29 56 78 55</p>
            <div class="deadline">
              <p>Deadline : vendredi</p>
            </div>
          </div>
          <div class="card-checkboxe">
            <%= image_tag ("checkboxe") %>
          </div>
        </div>

        <div class="card card-task card-admin">
          <div class="card-content">
            <h3>Achêter la tenue de spectacle</h3>
            <p>Pour Toto, prévoir un legging noir et tee-shirt manche longue noire.</p>
            <div class="deadline">
              <p>Deadline : vendredi</p>
            </div>
          </div>
          <div class="card-checkboxe">
            <%= image_tag ("checkboxe") %>
          </div>
        </div>

        <div class="card card-task card-home-duty">
          <div class="card-content">
            <h3>Laundry</h3>
            <p></p>
            <div class="deadline">
              <p>Deadline : vendredi</p>
            </div>
          </div>
          <div class="card-checkboxe">
            <%= image_tag ("checkboxe") %>
          </div>
        </div>
      </div>


      <h3>Carrousel</h3>

      <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card card-list">
              <h3>Idées cadeaux de noël enfants</h3>
              <span
                class="input"
                role="textbox"
                contenteditable>
                  Commence à taper tes idées ici...
              </span>
            </div>
          </div>

          <div class="carousel-item">
            <div class="card card-list">
              <h3>Idées camping vacances été</h3>
              <span
                class="input"
                role="textbox"
                contenteditable>
                  Commence à taper tes idées ici...
              </span>
            </div>
          </div>

          <div class="carousel-item">
            <div class="card card-list">
              <h3>Idées camping vacances été</h3>
              <span
                class="input"
                role="textbox"
                contenteditable>
                  Commence à taper tes idées ici...
              </span>
            </div>
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </div>
</div>
