.btn-team {
  border: 1px solid $dark-black;
  border-radius: 5px;
  background-color: $deep-orange;
  box-shadow: 0 5px;
  font-family: $link-font;
  color: $dark-black;
}

#memory-card .btn-team {
  background-color: $electric-purple;
  &:hover {
    background-color:$light-purple;
  }
}
