.calendar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 10px;
}

.tag-item {
  position: relative;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-date {
  display: block;
  font-size: 0.9rem;
  border-radius: 0.4rem;
  padding: 1.1rem;
  background-color: $deep-yellow;
  cursor: pointer;
}

.tag-day {
  font-size: 1.2rem;
  font-weight: bold;
}

.tag-selector:checked + .tag-date {
  background-color: $deep-yellow;
  border: 1px solid $dark-black;
  box-shadow: 0 5px;
}
