.chatroom {
  height: 80vh;
}

.pseudo-chat {
  font-size: 1.2rem;
  font-weight: 600;
  color: $coral;
}

.date-chat {
  opacity: 0.5;
}

.message-chat {
  font-size: 1.2rem;
}

[data-chatroom-subscription-target="messages"] {
  overflow-y: auto;
  max-height: 60vh;
}
