.footer {
  min-height: 60px;
  background-color: $deep-pink;
  border-top: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  a {
    color: $dark-black;
  }
}
