.form-container {
  border: 1px solid $dark-black;
  border-radius: 5px;
  background-color: $light-purple;
  padding: 1rem;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr;
}

$deep-purple: #9B06D1;
$light-purple: #C4A3FF;

.card.form-input {
  background-color: $dark-purple;
  margin-top: 1rem;
}
