.member-photo {
  cursor: pointer;
  border: 2px solid transparent;
  display: inline-block;
  margin: 0 auto;
  display: block;
  width: 50px;
  cursor: pointer;
}

.member-photo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  filter: opacity(0.20);

}

.member-photo.selected img {
  filter: none;
}

.member-photo-container {
  padding: 0 10px; // Adjust the value as needed for proper centering
  display: flex;
  flex-wrap: wrap;
}
