.member-photo {
  cursor: pointer;
  border: 2px solid transparent;
  display: inline-block;
  margin: 5px;
}

.member-photo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  filter: opacity(0.20);

}

.member-photo.selected img {
  filter: none;
}
