// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  color: $dark-black;
  background-color: $deep-cream;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  color: $dark-black;
}

h3 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: $dark-black;
}

h1,h2,h3,p,.col {
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
}

.row {
  margin: 2rem 0 2rem;
}

.arrow-link {
  display: flex;
  background-color: transparent;
  color: $white;
  transition: all .3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 0.9rem;
}

.arrow-link > .arrow {
  width: 8px;
  height: 8px;
  border-right: 2px solid $white;
  border-bottom: 2px solid $white;
  position: relative;
  transform: rotate(-45deg);
  margin-left: 3px;
  transition: all .3s ease;
}
